 .body{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
 }
 
 .size{
   font-size: 35px;
   text-align: center;
   background-color: #A9A9A9;
   padding: 15px 0;
 }

.logo {
 line-height: 25px;
 background-color: #fb9d9b;
}

.logo p {
  font-size: 17px;
}

.navv{
  font-size: 35px;
  color: blue;
  padding: 27px 0px;
  background-color: #fb9d9b;
}

.navv a{
  margin-left: 45px;
}
.navbar-header {
  margin-left: 100px;
}

.bg{
  background-color: #d2d2d0;
}

.center-left{
  background-color: #bfbfbf;
  margin-top: 10px;
}

.left-block{
 background-color: #bfbfbf;
 margin-top: 10px;
}

.title {
  background-color: #a0a0a0;
}

.centered p {
  text-align: right;
  padding: 20px 10px 0 0;
}

.centered h2 {
  padding-left:40px; 
}

.img{
  text-align: center;
  background-color: #fdb4cf;
  padding: 60px 0;
}

.text{
  text-align: center;
  font-size: 30px;
}

.img-text{
  margin: 90px 0;
}

.center-right{
  margin-top: -10px;
}

.right-block{
   background-color: #9198f2;
  
}

.navigation{
  text-align: center;
}

.item{
  width: 120px;
  padding-left: 40px;
}

.nav-text{
  font-size: 25px;
  padding: 48px 0 110px 30px;
}

.title-3{
  background-color: #b2b4b1;
  text-align: center;
  padding: 0 20px;
  margin: 0 -15px;
  margin-top: 40px;
}

.title-bg{
  background-color: #fdb4cf;
  margin-bottom: 20px;
}

.title-bg1{
  background-color: #fdb4cf;
}

.title-bg2{
  background-color: #fdb4cf;
}

.text-2{
  padding: 90px 0 40px 0;
}
.bottom{
  background-color: #cef284;
  text-align: center;
  margin: 20px -15px 0 ;
  font-size: 25px;
  padding: 40px 0
}
.footer{
  background-color: #5a67f3;
  font-size: 25px;
  padding: 25px 0;
}

.footer a{
  color: black;
  padding-left: 200px;
 
}
.footer a:hover{
  text-decoration: none;
  color: greenyellow;
}

#namber{
  text-align: right;
  padding-right: 400px;
  
}