 .body{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
 }
 
 .size{
   font-size: 35px;
   text-align: center;
   background-color: #A9A9A9;
   padding: 15px 0;

 }

.logo {
line-height: 25px;
 background-color: #fb9d9b;
}

.logo p {
  font-size: 17px;
}

.navv{
  font-size: 35px;
  color: blue;
  padding: 27px 0px;
  background-color: #fb9d9b;
}

.navv a{
  margin-left: 45px;
}
.navbar-header {
  margin-left: 100px;
}

.bg{
  background-color: #d2d2d0;
  height: 900px;
}

.center-left{
background-color: #bfbfbf;
height: 450px;
margin-top: 10px;
}

.center-center{
  background-color: #d2d2d0;
}

.center-right{
  background-color: #9198f2;
  margin-left: 80px;
  height: 450px;  
  margin-top: 10px;
  text-align: center;
}
.center-right h1{
  margin-bottom: 80px;
}

.title{
  background-color: #a0a0a0;
  margin-top: 25px;
}

.post p{
  font-size: 25px;
  padding:  25px;
}

.date p{
  font-size: 20px;
  text-align: right;
  padding-top: 25px; 
}

.images{
  background-color: #fdb4cf;
  text-align: center;
  padding: 60px 0;
  margin-top: 40px;
}

.text{
  text-align: center;
  margin-top: 70px;
  font-size: 25px;
}
.nav-text{
  font-size: 20px;
  margin: 25px;
}
.title-3{
  background-color: #bfbfbf;
}
.title0 {
  background-color: #fdb4cf;
  text-align: center;

}
.title1{
  background-color: #fdb4cf;
  text-align: center;

}
.title2{
  background-color: #fdb4cf;
  text-align: center;

}